<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img src="https://images.pexels.com/photos/5913369/pexels-photo-5913369.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class="card-img-top img-fluid">
        <div class="card-body">
          <small class="bg-light text-danger text-center">Design</small>
          <small class="bg-light text-success text-center ml-2">Featured</small>
          <small class="bg-light text-info text-center ml-2">Views, 100, 288</small>
          <small class="bg-light text-warning text-center ml-2">Last Updated - April1, 2023</small>

          <h1 class="mt-3 mb-3">Ho to Start a Blog in 2023 Edited New Category</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed voluptates deserunt sequi, porro veritatis alias consequatur velit quia cupiditate voluptatum impedit expedita debitis praesentium a voluptatem explicabo voluptas distinctio sapiente.</p>
        </div>
      </div>

    </div>
    <div class="col-md-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
